# =========================
# Web application libraries
# =========================

fastapi==0.128.0
starlette==0.50.0
uvicorn==0.40.0

# Templates / forms / sessions
Jinja2==3.1.6
python-multipart==0.0.21
itsdangerous==2.2.0

# 2FA / OTP
pyotp==2.9.0
qrcode==7.4.2

# HTTP client (web -> risk engine)
httpx==0.28.1


# =========================
# Risk engine libraries
# =========================

SQLAlchemy==2.0.45
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5

# IP Geolocation for impossible travel detection
geoip2==4.8.1

# FastAPI internals / async stack
anyio==4.12.1
h11==0.16.0
httptools==0.7.1
httpcore==1.0.9
watchfiles==1.1.1
websockets==16.0

# Utilities
python-dotenv==1.2.1
PyYAML==6.0.3
typing_extensions==4.15.0
typing-inspection==0.4.2
email-validator==2.3.0
dnspython==2.8.0
certifi==2026.1.4
idna==3.11
urllib3==2.6.3
greenlet==3.3.0
colorama==0.4.6
click==8.3.1
shellingham==1.5.4
rich==14.2.0
rich-toolkit==0.17.1
Pygments==2.19.2
markdown-it-py==4.0.0
mdurl==0.1.2
MarkupSafe==3.0.3
rignore==0.7.6
sentry-sdk==2.49.0
typer==0.21.1
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastar==0.8.0
annotated-doc==0.0.4
annotated-types==0.7.0


# =========================
# Testing
# =========================

pytest==9.0.2
